{% extends 'base.html' %}

{% load l10n formfields sekizai_tags %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">
                    <h2>Бронирование билетов <br><small>спектакль {{ performance.title }} на площадке {{ place.title }}</small></h2>
                    <div class="panel-group" id="accordion">
                        {% if performance %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePerformance">
                                            О спектакле
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePerformance" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h3>Спектакль <em>{{ performance.title }}</em></h3>
                                        <p>{{ performance.description|safe }}</p>
                                        <h4>Обратите внимание:</h4>
                                        <p>{{ performance.brief|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if place %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapsePlace">
                                            О площадке
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePlace" class="panel-collapse {% if form %}collapse{% else %}{% endif %}">
                                    <div class="panel-body">
                                        <h3>Место проведения <em>{{ place.title }}</em></h3>
                                        <p>{{place.description|safe }}</p>
                                        <address>{{ place.address }}</address>
                                        <p>{{ place.brief|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if form %}
                <div class="row">
                    <div class="col-md-12">
                        <form action="" method="post">{% csrf_token %}
                            {% if not show_qs.0.has_external_booking %}
                                {# in case we deal with more sophisticated form, we better hide these controls, instead of dropping them #}
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                        {% form_field_bootstrap form.first_name %}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                        {% form_field_bootstrap form.last_name %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    {% form_field_bootstrap form.email %}
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    {% form_field_bootstrap form.tel %}
                                </div>
                            </div>
                            {% endif %}
                            {% form_field_bootstrap form.show class_attr="input-lg" %}
                            {% if not show_qs.0.has_external_booking %}
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                {% form_field_bootstrap form.seating_adult class_attr="input-lg" %}
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                {% form_field_bootstrap form.seating_child class_attr="input-lg" %}
                                    </div>
                                </div>
                            <div class="total-cost" data-adult-price>
                                <ul class="hidden prices">
                                    {% for s in show_qs %}
                                        <li data-has-external-booking="{{s.has_external_booking}}" data-price-adult="{{s.price_adult|unlocalize}}" data-price-child="{{ s.price_child|unlocalize }}" data-price-default="{{ s.price|unlocalize }}" data-pk="{{ s.pk }}"/>
                                    {% endfor %}
                                </ul>
                                <p>Стоимость: <span class="display">{{show_qs.0.price}}</span> р.</p>
                            </div>
                                <div class="booking-instructions">
                                    {{place.how_to_get|safe}} {# we use how_to_get for booking-instructions #}
                                </div>
                                {% else %}
                                <div class="booking-instructions">
                                    {{place.how_to_get|safe}} {# we use how_to_get for booking-instructions #}
                                    <p class="small">
                                    Вы будете перенаправлены на сайт площадки, где сможете завершить
                                    оформление брони.
                                    </p>
                                </div>
                                {% endif %}


                            <div class="row">
                                <div class="col-xs-6 col-md-6"><input type="submit" value="Подтвердить бронь" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                            </div>
                        </form>
                    </div>
                </div>
                {% addtoblock "js" %}
                <script src="/static/js/booking.js"></script>
                {% endaddtoblock %}
            {% else %}
                <p>К сожалению, билетов сейчас нет</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
