{% extends 'base.html' %}
{% load l10n %}

{% block content %}
    {% regroup object_list by showtime.month as month_list %}
    <div class="row">
        <div class="col-md-4 col-sm-8 col-xs-10 schedule standalone">
            <h1>Афиша</h1>
            {% for month in month_list %}
                {% regroup month.list by showtime.day as day_list %}
                {% for day in day_list %}
                    <h3>{{ day.list.0.showtime|date:"l, j E" }}</h3>
                    {% regroup day.list by place as place_list %}
                    {% for place in place_list %}
                        <h5>{{ place.grouper }}</h5>
                        {% for show in place.list %}
                            <div>
                                <p class="datetime">{{show.showtime|date:"H:i"}}</p>
                                <h4>
                                    <a href="{{ show.get_absolute_url }}"> {{ show.performance.title }}</a>
                                </h4>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
