{% extends 'base.html' %}
{% load cms_tags %}
{% load formfields %}

{% block header_image %}
    {% render_placeholder object.placeholder_field2 %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ object.title }}</h1>
            <h2>Описание</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>{{ object.description|safe }}</p>
        </div>
        <div class="col-md-4">
            {% if object.thumb %}<img src="{{ object.thumb.url }}" class="img-responsive" alt="{{ object.title }}">{% endif %}
        </div>
    </div>

    {% render_placeholder object.placeholder_field %}
    {% if object.brief %}
        <div class="row">
            <div class="col-md-12">
                <h2>Дополнительная информация</h2>
                <p>{{ object.brief|safe }}</p>
            </div>
        </div>
    {% endif %}
    {% if form %}
        <h2>Забронировать билеты</h2>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <form action="{% url 'booking_preorder' %}"  method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% form_field_bootstrap field  %}
                    {% endfor %}
                    <div class="form-group">        <input type="submit" class="btn btn-default" value="Выбрать дату"/></div>
                </form>
            </div>
        </div>
    {% endif %}

    <div id="hypercomments_widget"></div>
    <script type="text/javascript">
_hcwp = window._hcwp || [];
_hcwp.push({widget:"Stream", widget_id:18854});
(function() {
 if("HC_LOAD_INIT" in window)return;
 HC_LOAD_INIT = true;
 var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
 var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
 hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/18854/"+lang+"/widget.js";
 var s = document.getElementsByTagName("script")[0];
 s.parentNode.insertBefore(hcc, s.nextSibling);
 })();
    </script>
    <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>
{% endblock %}
