{% extends 'base.html' %}
{% load cms_tags formfields %}

{% block header_image %}
    {% render_placeholder object.placeholder_field2 %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ object.title }}</h1>
            <h2>Описание</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>{{ object.description|safe }}</p>
        </div>
        <div class="col-md-4">
            {% if object.thumb %}<img src="{{ object.thumb.url }}" class="img-responsive" alt="{{ object.title }}">{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Адрес и телефон</h2>
            <p>{{ object.address }}<br>
            {# we use cancelling_body instead of how_to_get #}{{ object.cancelling_body }}</p>
            {% if object.tel %}
                <p>Телефон {{ object.tel }}</p>
            {% endif %}
        </div>
    </div>



    {% render_placeholder object.placeholder_field %}

    {% if object.brief %}
        <h2>Дополнительная информация</h2>
        <p>{{ object.brief|safe }}</p>
    {% endif %}

    {% if form %}
        <h2>Забронировать билеты</h2>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <form action="{% url 'booking_preorder' %}"  method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {% form_field_bootstrap field  %}
                    {% endfor %}
                    <div class="form-group">        <input type="submit" class="btn btn-default" value="Выбрать дату"/></div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
