{% extends 'base.html' %}

{% block content %}
<h1>Наши площадки</h1>
<ul>
    {% for place in object_list %}
    <li><h3><a href="{{ place.get_absolute_url }}">{{place.title}}</a></h3>
    <p>{{ place.description }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}
