{% extends 'base.html' %}
{% load staticfiles sekizai_tags %}
{% block content %}
<form id="preorder-form" action="{% url 'booking_preorder' %}"  method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Бронировать"/>
</form>

{% addtoblock "js" %}
<script src="{% static 'js/booking_ajah.js' %}"></script>
{% endaddtoblock %}

{% endblock content %}

