{% extends 'base.html' %}
{% block content %}

<h2>Отмена бронирования</h2>
<form method="post" action="">
    {%csrf_token%}
    <p>Вы уверены, что хотите отменить {{ object }}?</p>
    <input type="submit" value="Подтвердить"/>
</form>
{% endblock %}
