{% extends 'base.html' %}
{% block content %}
    {% if spectator %}
        <h2>Профиль зрителя</h2>
        <p><a href="{% url 'update_profile' %}">Изменить личные данные</a></p>
        <p>{{ spectator.first_name}}
        {{ spectator.last_name }}</p>
        <p>{{ spectator.email }}</p>
        <p>{{ spectator.tel }}</p>
        {% if spectator.children %}
            <h4>Дополнительные сведения</h4>
            <p>{{ spectator.children }}</p>
        {% endif %}
    {% endif %}
    {% if object_list %}
        <h2>Брони:</h2>
        <ul>
            {% for reservation in object_list %}
                <li>{{reservation}}
                <a href="{% url 'cancel_reservation' reservation.pk %}">Отменить бронь</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}
