{% extends "base.html" %}
{% load formfields %}

{% block content %}

    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <h2>Профиль зрителя <small>изменение</small></h2>
            </div>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            {% for f in form %}
                <div class="row">
                    <div class="col-md-12">
                        {% form_field_bootstrap f %}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input type="submit" value="Сохранить" class="btn btn-primary btn-block btn-lg" tabindex="7">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
