{% extends 'base.html' %}

{% block content %}
<h1>Подтверждение бронирования:</h1>

<dl>
    <dt>Бронь:</dt>
    <dd>{{ reservation }}</dd>
    {% if credentials %}
    <dt>Зритель:</dt>
    <dd>
        <dl>
            {% if credentials.email %}
            <dt>email</dt>
            <dd>{{ credentials.email }}</dd>
            {% endif %}
            {% if credentials.first_name %}
            <dt>Имя</dt>
            <dd>{{ credentials.first_name }}</dd>
            {% endif %}
            {% if credentials.last_name %}
            <dt>Фамилия</dt>
            <dd>{{ credentials.last_name }}</dd>
            {% endif %}
            {% if credentials.tel %}
            <dt>Телефон</dt>
            <dd>{{ credentials.tel }}</dd>
            {% endif %}
            {% if credentials.children %}
            <dt>Дети</dt>
            <dd>{{ credentials.children }}</dd> 
            {% endif %}
        </dl>
    </dd>
    {% endif %}
    {% if user_actions %}
    <dt>Вы также можете</dt>
    <dd><a href="{{ user_actions.href }}">
            {% if user_actions.purpose == 'register' %}
            Зарегистрироваться, чтобы в следующий раз не вводить все данные повторно
            {% endif %}
            {% if user_actions.purpose == 'login' %}
            Изменить персональные данные или отменить бронирование (потребуется ввести пароль)
            {% endif %}
            {% if user_actions.purpose == 'profile' %}
            Изменить персональные данные или отменить бронирование
            {% endif %}
        </a>
    </dd>
    {% endif %}
</dl>
{% endblock %}
