{% load staticfiles sekizai_tags %}
{% load formfields %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <form id="preorder-form" class="form-horizontal" action="{% url 'booking_preorder' %}"  method="post">
                    {% csrf_token %}
                    {% form_field_bootstrap form.performance class_attr="input-lg" group_class_attr="collapse" %}
                    {% form_field_bootstrap form.place group_class_attr="collapse" class_attr="input-lg" %}
                    <div class="form-group">        <button type="submit" class="btn btn-default btn-primary btn-lg btn-block"> Забронировать билеты</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% addtoblock "js" %}
<script src="{% static 'js/booking_ajax.js' %}"></script>
{% endaddtoblock %}

