
<div class="schedule">
    {% for schedule in object_list %}
    <div>
        <p class="datetime">{{ schedule.showtime|date:"H:i" }}  {# 19:30 #}
        <br>
        {{ schedule.showtime|date:"l, j E" }}  {# среда, 12 #}
        </p>
        <h4>
            <a href="{{ schedule.get_absolute_url }}">{{ schedule.performance.title }} в {{ schedule.place.title }}</a>
        </h4>
    </div>
    {% endfor %}
</div>
