@charset "utf-8";
/*!
 * @author      Angelo Dini - github.com/finalangel/classjs-plugins
 * @copyright	Distributed under the BSD License.
 */
.plugin-gallery .wrapper {
  position: relative;
  z-idnex: 1;
  overflow: hidden;
}
.plugin-gallery .viewport {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.plugin-gallery .viewport .item {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.plugin-gallery .viewport .item img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.plugin-gallery .viewport .item.active {
  display: block;
}
.plugin-gallery .viewport .item:first-child {
  display: block;
}
.plugin-gallery .trigger-next, .plugin-gallery .trigger-previous {
  position: absolute;
  top: 50%;
  z-index: 101;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  margin-top: -10px;
  background: rgba(0, 0, 0, 0.6);
}
.plugin-gallery .trigger-next {
  right: 0;
}
.plugin-gallery .trigger-previous {
  left: 0;
}
.plugin-gallery .trigger-next a, .plugin-gallery .trigger-previous a {
  display: none;
  float: left;
  padding: 4px;
}
.plugin-gallery .trigger-next a:hover, .plugin-gallery .trigger-previous a:hover {
  color: white;
}
.plugin-gallery nav {
  text-align: center;
  padding-top: 15px;
}
.plugin-gallery nav a {
  display: none;
  font-size: 11px;
  line-height: 11px;
  padding: 3px 6px 4px 6px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  background: #fff;
}
.plugin-gallery nav a:hover {
  background: #f9f9f9;
}
.plugin-gallery nav .active {
  color: #fff !important;
  border-color: #39c !important;
  background: #39c !important;
}
.plugin-gallery .item-content {
  padding: 70px 100px 25px;
  background: white;
}
