footer {
    padding-top: 40px;
}
.header-image img {
    width: 100%;
}

h2 {
  color: #2f476c;
  padding-bottom: 5px;
  border-bottom: solid 1px #777777;
}
aside > div {
  margin-top: 60px;
  padding-bottom: 20px;
  background: #eeeeee;
}
aside > div h3 {
  text-align: center;
  background: #222222;
  color: #eeeeee;
  font-size: 21px;
  line-height: 2;
}
aside > .contacts {
    font-size: 18px;
    text-align: right;
    padding-top: 20px;
}

.total-cost {
    border: 1px solid #e1e1e8;
    border-radius: 4px 4px 0 0;
    padding: 9px 14px;
}
.booking-instructions {
    border: 1px solid #e1e1e8;
    border-top: none;
    padding: 9px 14px;
    border-radius: 0 0 4px 4px;
    font: bold;
  background-color: #f7f7f9;
    margin-bottom: 14px;
}
.blog-list li {
  list-style: none;
}
.schedule {
  padding: 0 10px;
}
.schedule .datetime {
  text-align: right;
  font-size: 10px;
}
.schedule h4 {
  border-bottom: 1px #2f476c solid;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.schedule h4 a {
  color: #333333;
  text-decoration: none;
}
.schedule h4 a:hover {
  color: #2f476c;
}
.schedule.standalone h4 {
  text-align: right;
}
.main-menu {
  background: #eeeeee;
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-menu li {
  list-style: none;
}
.main-menu li a {
  display: block;
  color: #333333;
  text-decoration: None;
}
.main-menu li a:hover,
.main-menu li a.active {
  color: #2f476c;
  border-bottom: 1px solid #2f476c !important;
}
.main-menu li.social-controls a:hover {
  text-decoration: none;
  border-bottom: none !important;
}
.main-menu li.active>a, .main-menu li.active>h4>a {
  color: #2f476c;
  border-bottom: 1px solid #2f476c !important;
}
.main-menu h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
}
.main-menu {
  margin-left: 0;
  padding: 0 40px;
}
.main-menu ul {
  padding: 0;
}
.main-menu li {
  padding-bottom: 11px;
}
.main-menu a {
  padding-bottom: 5px;
}
.main-menu h4 a {
  border-bottom: 1px solid #eeeeee;
}
.main-menu > ul > li {
  float: none;
  border-left: none;
}
.sub-nav a {
  border-bottom: 1px dotted #333333;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-menu {
    padding: 15px 0 15px 5%;
  }
  .main-menu:before,
  .main-menu:after {
    content: " ";
    display: table;
  }
  .main-menu:after {
    clear: both;
  }
  .main-menu ul {
    padding: 0;
  }
  .main-menu > ul > li {
    float: left;
    padding: 0 4% 0 2%;
    border-left: solid 1px #777777;
    max-width: 20%;
  }
  .sub-nav > li {
    padding-bottom: 7px;
  }
  .sub-nav a {
    padding-bottom: 3px;
    border-bottom: 1px solid #eeeeee;
  }
}
@media (min-width: 1210px) {

  .main-menu > ul > li {
      max-width:33%;
  }
  }
