<p class="small">
Стоимость билета указана за одного родителя с одним ребенком. Если с Вами хочет пойти супруг(а), или Вы идете на спектакль со вторым ребенком - для них можно забронировать дополнительный билет со скидкой на каждого. 
</p>
<p class="small">
Бронь на сайте делается на одну семью (максимум 2 взрослых человека + 2 ребенка). 
Если Вы хотите заказать больше билетов - создайте отдельную бронь на каждую семью. 
Если в Вашей семье 3 и более детей, пожалуйста, <a href="mailto:firsttheatre@gmail.com">сообщите о своем желании приобрести билеты по email</a>
</p>
