{% if field %}
    {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <div class="form-group {{ group_class_attr }} {% if field.errors %}has-error{% endif %}">
            {% if has_label %}
                <label for="{{ field.auto_id }}" class="control-label{% if field.field.required %} required{% endif %} {{ label_class }}">
                        {{ field.label|safe }}
                        {% if field.field.required %} <span>*</span>{% endif %}
                    </label>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
                <span class="help-block">{{ field.help_text }}</span>
            {% endif %}
        </div>
            {% if field.errors %}
                <p class="alert alert-warning">
                {% for error in field.errors %}
                    <em>{{ error }}</em><br>
                {% endfor %}
                </p>
            {% endif %}
    {% endif %}
{% endif %} 
