{% extends "base.html" %}
{% load formfields %}

{% block content %}

    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Вход</h2>
            </div>
        </div>

        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    {% form_field_bootstrap form.email %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% form_field_bootstrap form.password %}
                </div>
            </div>

            <div class="row">
                <div class=" col-md-12">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            Пароль и имя пользователя не совпадают. Попробуйте еще раз
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6"><input type="submit" value="Войти" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

{% endblock %}
