{% extends "aldryn_gallery/base.html" %}
{% load i18n cms_tags shuffle %}

{% block content_gallery %}

      <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in slides %}
        <li data-target="#plugin-gallery-{{ instance.pk }}" data-slide-to="{{ forloop.counter }}" {% if forloop.first %}class="active" {% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
<div class="carousel-inner">
    {% if instance.shuffle %}
        {% for plugin in instance.child_plugin_instances|shuffle %}
            <div class="item {% if forloop.first %}active{% endif %}">
                {% render_plugin plugin %}
            </div>
        {% endfor %}
    {% else %}
        {% for plugin in instance.child_plugin_instances %}
            <div class="item {% if forloop.first %}active{% endif %}">
                {% render_plugin plugin %}
            </div>
        {% endfor %}
    {% endif %}
</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#plugin-gallery-{{ instance.pk }}" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#plugin-gallery-{{ instance.pk }}" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>



{% endblock content_gallery %}
