{% with link=instance.get_link %}
    {% if link %}
        <a href="{{ link }}"{% if instance.target %} target="{{ instance.target }}"{% endif %}>
            {% if image %}<img src="{{ image.url }}" alt="{{ image.default_alt_text|default:image.label }}" />{% else %}{{ instance.link_text }}{% endif %}
        </a>
        {% elif image %}
        <img src="{{ image.url }}" alt="{{ image.default_alt_text|default:image.label }}" />
    {% endif %}
    {% if instance.content %}
        {% if link %}
            <a href="{{ link }}"{% if instance.target %} target="{{ instance.target }}"{% endif %}>
                <div class="carousel-caption">
                    {{ instance.content|safe }}
                </div>
            </a>
            {% else %}
            <div class="carousel-caption">
                {{ instance.content|safe }}
            </div>
        {% endif %}
    {% endif %}
{% endwith %}
