{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}Первый театр{% endblock title %}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% render_block "css" %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cl.gallery.css' %}">
{% compress css %}
<link rel="stylesheet" type="text/less" href="{% static 'less/common.less' %}">
<link rel="stylesheet" type="text/less" href="{% static 'less/menu.less' %}">
<link rel="stylesheet" type="text/less" href="{% static 'less/footer.less' %}">
<link rel="stylesheet" type="text/less" href="{% static 'less/schedule.less' %}">
<link rel="stylesheet" type="text/less" href="{% static 'less/variables.less' %}">
{% endcompress %}


<script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</head>
<body>
{% cms_toolbar %}
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="container">
    {% block header_image %}
        <div class="img-responsive header-image">
            {% placeholder "main_header_image" %}
        </div>
    {% endblock %}
    <nav class="main-menu">
        <div class="menu-extra visible-xs-block navbar-left">
            <button aria-expanded="false" aria-controls="bs-navbar" data-target="#collapseMenu" data-toggle="collapse" type="button" class="navbar-toggle pull-left collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                
        </div>
        <ul id="collapseMenu" class="collapse">
            {% show_menu 0 1 100 100 "menu.html" %}
            <li class="social-controls"><p><a href="https://www.facebook.com/firsttheatre" target="_blank"><img src="{% static 'img/fb-logo.png' %}" title="Наша группа на Facebook" alt="Наша группа на Facebook"  width="40" height="40"></a></p>
            <p><a href="http://vk.com/firsttheatre" target="_blank"><img src="{% static 'img/vk-logo.png' %}" title="Наша группа ВКонтакте" alt="Наша группа ВКонтакте" width="40" height="40"></a></p>
            <p><a href="http://instagram.com/firsttheatre/" target="_blank"><img src="{% static 'img/insta-logo.png' %}" title="Мы в Instagram" alt="Мы в Instagram"  width="40" height="40"></a></p>
            <p><a href="https://plus.google.com/116322775552328079364" rel="publisher" target="_blank"><img src="{% static 'img/gplus-logo.jpg' %}" title="Мы в Google+" alt="Мы в Google+"  width="40" height="40"></a></p>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
    <div class="row">
        <div class="col-md-12">
<footer>{% static_placeholder "footer" %}</footer>
        </div>
    </div>

</div>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
{% render_block "js" %}
{% block metrika %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55974460-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26721294 = new Ya.Metrika({
                    id:26721294
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26721294" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endblock metrika %}
</body>
</html>

