{% load i18n menu_tags cache %}

{% for child in children %}


    <li data-level="{{ child.level }}" data-selected="{{ child.selected }}" data-ancestor="{{ child.ancestor }}" data-descendant="{{ child.descendant }}" data-url="{{child.get_absolute_url}}" data-class="{{class}}" class="{% if child.selected or child.descendant and child.get_absolute_url == "/main-page/" %} active{% endif %}">
    {% if child.children %}
        <h4>{{ child.get_menu_title }}</h4>
        <ul class="sub-nav">
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
    {% else %}
        {% if child.menu_level == 0 %}
            <h4><a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a></h4>
        {% else %}
            {% if child.get_absolute_url == "/main-page/" %}
                <a href="/">{{ child.get_menu_title }}</a>
            {% else %}
                <a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }} </a>
            {% endif %}
        {% endif %}
    {% endif %}
    </li>

    {% if class and forloop.last and not forloop.parentloop %}
    {% endif %}
{% endfor %}
