{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
    <div class="row">

        <div class="col-md-8">{% placeholder "content" %}</div>
        <aside class="col-md-4">
            <address class="contacts">
                +7 (916) 554 44 25<br>
                <a href="mailto:firsttheatre@gmail.com">firsttheatre@gmail.com</a>
            </address>
            <div>
                {% placeholder "aside" %}
            </div>
        </aside>

    </div>
    <div class="row">
        <div class="col-md-12">{% placeholder "cellar" %}</div>
    </div>
{% endblock content %}
