@import 'variables.less';
h2 {
    color: @header-blue;
    padding-bottom: 5px;
    border-bottom: solid 1px @gray-light;
}

aside>div {
    margin-top: 60px;
    padding-bottom: 20px;
    background: @gray-lighter;
    h3 {
        text-align: center;
        background: @gray-darker;
        color: @gray-lighter;
        font-size: 21px;
        line-height: 2;
    }
    .contacts {
        font-size: 18px;
        text-align: right;
        padding-top: 20px;
    }

}


.blog-list {
    li {
        list-style: none;
    }
}

