@import 'variables.less';
@import 'mixins/clearfix.less';

// Common style definitions
.main-menu {
    background: @gray-lighter;
    font-size: @font-size-small;
    font-family: @font-family-sans-serif;

    li {
        list-style: none;
        a {
            display: block;
            color: @text-color;
            text-decoration: None;
            &:hover, &.active {
                color: @header-blue;
                border-bottom: 1px solid @header-blue !important;
            }
        }
    }
    li.social-controls a:hover {
        text-decoration: none;
        border-bottom: none !important;
    }


    li.active>a, li.active>h4>a {
        color: @header-blue;
        border-bottom: 1px solid @header-blue !important;
    }


    h4 {
        text-transform: uppercase;
        font-size: @font-size-h4;
        font-weight: normal;

    }
}

//Mobile-first style
.main-menu {
    margin-left: 0;
    padding: 0 40px;
    ul {
        padding: 0;
    }
    li {
        padding-bottom: 11px;
    }
    a {
        padding-bottom: 5px;
    }
    h4 {

        a {
            border-bottom: 1px solid @gray-lighter;
        }

    }
        >.menu-extra {
            height: 56px;
            .icon-bar {
                background: @header-blue;
            }
            button {
                border-color: @header-blue;
            }
        }
}

//Main blocks
.main-menu > ul > li {
    float: none;
    border-left: none;
}

.sub-nav a {
    border-bottom: 1px dotted @text-color;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .main-menu {
    padding: 15px 0 15px 5%;
        .clearfix();
        ul {
            padding: 0;
        }
        > ul.collapse {
            display: block !important;
        }
    }


    //Main blocks
    .main-menu > ul > li {
        float: left;
        padding: 0 4% 0 2%;
        border-left: solid 1px @gray-light;
        max-width: 20%;
    }

    //sub-nav rows
    .sub-nav > li {
        padding-bottom: 7px;
    }

    .sub-nav a{
        padding-bottom: 3px;
        border-bottom: 1px solid @gray-lighter;
    }
}

@media (min-width: @screen-lg-min) {
    .main-menu {

        > ul > li {
            max-width:40%;
        }
}
}
