@import "variables.less";
@import "mixins/clearfix.less";


.schedule {
    padding: 0 10px;

    .datetime {
        text-align: right;
        font-size: 10px;
    }
    h4 {
        border-bottom: 1px @header-blue solid;
        padding-bottom: 5px;
        margin-bottom: 30px;
        a {
            color: @text-color;
            text-decoration: none;
        }
        a:hover {
            color: @header-blue;
        }
    }
}

.schedule.standalone {
    h4 {
        text-align: right;
    }
}
